#teclado {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    .key {
      background-color: #333;
      color: #eee;
      font-size: 3rem;
      border: 1px solid #444;
      box-shadow: 0 0.2rem 0 0.05rem rgba(34, 34, 34, 1);
      border-bottom-color: #555;
      width: 6rem;
      height: 6rem;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;
      border-radius: 0.3rem;
    }
  }
}
